.main{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100%;
    width: 300px;
    margin-left: 2em;
}

#signin-form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

header{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header a{
    color: rgba(0,0,0,1);
    text-decoration: none;
    transition: 0.2s;
}

header a:hover{
    color: rgba(53, 169, 255, 1);
    text-decoration: none;

}

form{
    height: 8.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.3em;
}

footer a{
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    text-decoration: none;
}

input{
    border: rgba(53, 169, 255, 0.7) solid 2px;
    background-color: rgba(255,255,255,0.25);
    width: 12em;
    height: 2em;
    padding: 0 0.3em 0 0.3em;
    border-radius: 0.3em;
    font-weight: lighter;
    font-size: 16px;
    color: rgb(90, 205, 255);
}
input:focus{
    border: rgb(89, 205, 255) solid 2px;
    outline: none;
}

button{
    background-color: rgba(53, 170, 255);
    border: rgba(53, 170, 255) solid 2px;
    border-radius: 0.3em;
    width: 5em;
    height: 2em;
    font-weight: lighter;
    font-size: 15px;
}
button:active{
    background-color: rgb(50, 155, 255);
    border: rgba(50, 155, 255) solid 2px;
}