.info-block {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    padding: 0.8em;
    margin: 0.6em;
    width: 17em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Microsoft YaHei UI", sans-serif;
}

.ak-user-info-name{
    font-style: italic;
    font-size: 0.9em;
}

.ak-user-info-val{
    font-style: italic;
}

.info-block input {
    width: 19em;
    height: 1.8em;
    border: rgba(0, 0, 0, 0);
    border-radius: 3px;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

.info-block input:hover, .info-block input:focus {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.2s;
    outline: none;
}

.info-block button {
    width: 5em;
    height: 2.1em;
    border: rgba(0, 0, 0, 0);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

.info-block button:hover {
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.2s;
}

.info-block button:active {
    background-color: rgba(255, 255, 255, 1);
}

#do-update{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#update-status{
    margin-right: 2em;
    color: rgba(50,50,50,0.5);
}

a {
    text-decoration: none;
    color: rgb(0, 150, 200);
    transition: 0.2s;
}

a:hover {
    color: rgba(80, 180, 255, 1);
    transition: 0.2s;
}